
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.intro {
    text-align: center;
    margin: 30px 0;
}

h1 {
    color: #030303;
    font-size: 36px;
}

.accroche {
    color: black;
    font-size: 18px;
}


.repertoire {
    background-color: rgb(122, 120, 120); 
    color: #fff; 
    border: 2px solid #333; 
    border-radius: 8px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.repertoire h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.sous-repertoires {
    list-style-type: none;
    padding-left: 0;
}


.sous-repertoire {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
